body{
    /* background: rgb(255, 161, 117); */
}
hr{
    background-color: #F5D0A9;
    height: 0.3%;
}
.searcher{
    background-image: url('https://crehana-blog.s3.amazonaws.com/media/filer_public/77/61/7761eb89-7536-4187-bb57-b5058fdcbbb5/tipos-de-lentes-y-fotografias-seo-.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size:90% ;
    width:99%;
    height: 35em;
    background-repeat: no-repeat;
    align-items: center;
    margin:auto;
    margin-top: 2%;
    position: center;
    padding: 1%;
    transition: 1s all;
   border: 1px solid transparent;
  
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.principal{
    padding: 3em;
    height: 10em;

}
.navbar{
    /* background :rgb(253, 158, 99); */
    background :rgba(248, 143, 78, 0.603);
    height: 9em;

}
.nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.6em;
    padding-right: 1em;
    font-size: 1.3em;
}
#search{
    width:30%;
    align-content: center;
    margin: auto;
    margin-top: 5%;
    height: 6em;
    transition: all 1s;
}
#search:hover{
    opacity:0.9;
    width: 31%;

}
.searcher:hover{
    width:100%;
    height: 25em;

}
.search:hover{
    opacity: 0.1;;


}
.panel{
    width:90%;
    height: 20em;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 5em;
}
#container{
    width:30%;
    height: 22em;
    margin:auto;
    margin-top: 10%;
    /* margin-right:0.7m; */
    margin-left:2%;
    margin-bottom:2%;
    padding:2%;
    margin-right: 0.5em;
    background: rgb(255, 243, 202);

    display:inline-block;
    position:flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    transition: 1s all;
    border-radius: 2em;
    /* border:0.5em rgba(213, 243, 251, 0.883) solid; */
    box-shadow: 0em 0.5em 1em 0.5em rgb(255, 255, 255);

}

#container:hover{
width:30.5%;

opacity:0.9;
/* border:0.1em solid; */
box-shadow: 0em 0.5em 2em 0.5em rgb(218, 209, 209);

/* border-color: rgb(255, 255, 255); */
}

#image{
    width:42%;
    margin:auto;
    height:12em;
    margin-top: -30%;
    border-radius: 5em 5em;
    border-width: 1em;
    
    /* border-style: solid; */
    /* border:1em 2em 1em 1em rgb(202, 185, 174); */
}
.description{
    color: rgba(98, 98, 98, 0.815);
    padding-top: 7%;
    width:42%;
    height:3em;
    align-content: center;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 1.3em;
    margin: auto;
    border-radius: 0.25rem;
    display:block;
    position:flex;
    flex-wrap: wrap;
}
.name{
    color: rgba(255, 255, 255, 0.815);
    width:42%;
    height:3em;
    align-content: center;
    text-align: center;
    padding: 1em;
    font-family: "Times New Roman";
    font-size: 1.2em;
    margin: auto;
    background-color: rgba(248, 206, 160, 0.884);
    border-color: #fcffffcb;
    border-radius: 0.25rem;
    display:block;
    position:flex;
    flex-wrap: wrap;
}
.btn{
    position: center; 
    width:20%;
    text-align:center;
    margin:auto;
    /* background-color: #FE8F4C; */
    background :rgba(255, 156, 94, 0.918);

}
.btn:hover{
    opacity:0.9;

}
.contacts{
    width: 60%;
    margin: auto;
    height: 40em;
    /* border-radius: 500em 500em; */
    /* background-color: coral; */
    background-image: url('https://images.vexels.com/media/users/3/76507/preview2/d196d041ba20ffa2f5be76bbb22205d6-icono-en-construccion.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}